
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 15px 40px;
   
}


.logo {
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    
}


.nav-links a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

.nav-links a:hover {
    color: #c9a227; 
}
